// flex to center
@mixin flexDirection($direction) {
    display: flex;
    flex-direction: $direction;
  }
  
  @mixin justifyContent($direction) {
    justify-content: $direction;
    align-items: $direction;
  }
  