@import "_variables";
@import "_mixins";

.users-main {
  width: 100%;
  height: 60px;
}
.users-main h1 {
  @include flexDirection(row);
  @include justifyContent(center);
}

.users-wrapper {
  padding: 4rem;
  @include flexDirection(row);
  @include justifyContent(center);
}

.loading-error {
  padding: 4rem;
  @include flexDirection(row);
  @include justifyContent(center);
}
